<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ALL JS FILES -->
    <script async src="/js/jquery-3.2.1.min.js"></script>
    <script async src="/js/popper.min.js"></script>
    <script async src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script async src="/js/jquery.superslides.min.js"></script>
    <script async src="/js/bootstrap-select.js"></script>
    <script async src="/js/inewsticker.js"></script>
    <script async src="/js/bootsnav.js"></script>
    <script async src="/js/images-loded.min.js"></script>
    <script async src="/js/isotope.min.js"></script>
    <script async src="/js/owl.carousel.min.js"></script>
    <script async src="/js/baguetteBox.min.js"></script>
    <script async src="/js/form-validator.min.js"></script>
    <script async src="/js/contact-form-script.js"></script>
    <script async src="/js/custom.js"></script>
</head>
<body>
     <!-- Start Main Top -->
     <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control">
						<option>English</option>
						<option>Russian</option>
						<option>Uzbek</option>
					</select>
                    </div>
                    <div class="our-link">
                        <ul>
                            <% if(!isAutenticated){ %>
                                <li><a href="/login" style="color: #dc3545;">Login</a></li>
                                <li><a href="/signup">Signup</a></li>
                            <% } %>
                            <% if(isAutenticated){ %>
                                <li>
                                    <form action="/logout" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button style="background: transparent; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer;" type="submit">Logout</button>
                                    </form>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <div class="mt-4">
        <p style="text-align: center; color: red; font-size: 19px;"><%= errorMessage %></p>
    </div>
   <form action="/login" style="display: block; margin: 0 auto;" method="post" class=" form form-control mt-2 p-4 mb-4 col-lg-8 col-md-6 col-sm-11 col-xs-11 review-form-box" id="formRegister">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="InputEmail" class="mb-0">Email Address</label>
                <input type="email" class="form-control" name="email" id="InputEmail" placeholder="Enter Email" value="<%= oldInputs.email %>"> 
            </div>
            <div class="form-group col-md-6">
                <label for="InputPassword" class="mb-0">Password</label>
                <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Password" value="<%= oldInputs.password %>"> 
            </div>
        </div>
        <div class="ml-1 mb-3">
            <a href="/reset" style="color: #202020; font-size: 14px;">Forgot your password?</a>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn hvr-hover">Login</button>
   </form>
</body>
</html>